body{
	background-color: #3f3f3f;
	font-family: 'VT323', monospace;
	font-weight: 100;
	font-size: inherit;
	padding: 0;
	margin: 0;
}

h1{
	color: #ff0066;
	margin: 0;
	padding: 0;
}

/*logo*/
.logo{
	position: fixed;
	padding: 0;
	margin: 0;
	top: 40%;
	left: 30%;
}

.info{
	position: fixed;
	padding: 0;
	margin: 0;
	top: 40%;
	left: 50%;
}

.list{
	position: fixed;
	padding: 0;
	margin: 0;
	top: 50%;
	left: 50%;
}
