body{
	background-color: #f5f5dc;
	font-family: 'Source Code Pro', monospace;
	font-style: normal;
	font-weight: 100;
	font-size: inherit;
	padding: 0;
	margin: 0;
}

main{
	margin: 55px 18px;
}

h1{
	color: #161614;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

ul{
	margin: 0;
	margin-top: 40px;
	padding: 0;
	list-style: none;
}